nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container
    a.navbar-brand(href="/") CoE 113 Laboratory Checker
    button.navbar-toggler(type="button",
      data-toggle="collapse", data-target="#navbarNav", 
      aria-controls="navbarNav", aria-expanded="false",
      aria-label="Toggle navigation")
      
      span.navbar-toggler-icon

    .collapse.navbar-collapse#navbarNav
      ul.navbar-nav
        li.nav-item
          a.nav-link(href="/lab4checker") ME4
        li.nav-item
          a.nav-link(href="/lab5checker") ME5
