extends ../layout

block content
  h1= title
  p Welcome to #{title} (by: Mark Allen Agaton & Fredrick Angelo Galapon)
  p We are creating an online automated checker for the CoE 113 laboratory exercises. If you've found any bugs or if you have any comments or suggestions, you can reach us via email.
  ul
    li mark.allen.agaton@eee.upd.edu.ph
      img(src="/images/Agaton.jpg")
    li fredrick.galapon@eee.upd.edu.ph
      img(src="/images/Galapon.jpg")