extends ../layout

block content
  .jumbotron
    h1= title
    p.lead Welcome to #{title} online automated checker
    hr.my-4
    p We are creating an online automated checker for the CoE 113 laboratory exercises. If you've found any bugs or if you have any comments or suggestions, you can reach us via email.
    
    .container
      .row.justify-content-center
        .col-12
          .card-deck
            .card
              img.card-img-top(src="/images/Densing.jpg", alt="Chris Vincent Densing, MS")
              .card-body
                h5.card-title Chris Vincent Densing, MS
                p.card-text 
                  a(href="mailto:chris.densing@eee.upd.edu.ph")
                    | chris.densing@eee.upd.edu.ph
            .card
              img.card-img-top(src="/images/Agaton.jpg", alt="Mark Allen Agaton")
              .card-body
                h5.card-title Mark Allen Agaton
                p.card-text 
                  a(href="mailto:mark.allen.agaton@eee.upd.edu.ph")
                    | mark.allen.agaton@eee.upd.edu.ph
            .card
              img.card-img-top(src="/images/Galapon.jpg", alt="Fredrick Angelo Galapon")
              .card-body
                h5.card-title Fredrick Angelo Galapon
                p.card-text 
                  a(href="mailto:fredrick.galapon@eee.upd.edu.ph")
                    | fredrick.galapon@eee.upd.edu.ph
